.sagarsaree-banner-slider {
    .elementor-swiper-button {
        background-color: rgba(#fff, 0.4);
        padding: 4px;
        border-radius: 100%;

        svg {
            fill: var(--color-hover) !important;
        }

        &:hover {
            background-color: rgba(#fff, 0.8);
        }
    }
}

.feature-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding-block: 20px;
    row-gap: 30px;
    overflow-x: auto;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .2) transparent;

    &::-webkit-scrollbar {
        height: 2px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.22);
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2);
    }

    .feature-item {
        flex: none;
        display: flex;
        align-items: center;
        gap: 14px;
        padding-inline: 12px;
        position: relative;

        // &:not(:last-child) {
        //     border-right: 1px solid var(--color-golden);
        // }

        .feature-icon {
            flex-shrink: 0;

            img {
                width: 60px;
                height: 60px;
                object-fit: contain;

                @media (max-width: 767px) {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .feature-content {
            h4 {
                margin: 0;
                font-family: "Georgia", Sans-serif;
                font-size: 21px;
                font-weight: 500;
                color: var(--color-dark);
                line-height: 1.2;
                white-space: nowrap;

                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }

            p {
                margin: 8px 0 0;
                font-size: 14px;
                color: var(--text-dark);
                line-height: 1.5;

                @media (max-width: 767px) {
                    margin-top: 4px !important;
                }
            }
        }
    }
}


.gradient-text-color {
    .elementor-heading-title {
        background: linear-gradient(to bottom,
                #F6DBA6 0%,
                #E9C574 100%);

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
    }

    p {
        background: linear-gradient(to bottom,
                #fff3cc 0%,
                #cfa353 100%);

        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.3));
    }
}

.home-wholesale-body {
    >.elementor-element {
        .elementor-heading-title {
            align-content: center;
        }
    }

    &.slick-slider {
        .slick-track {
            display: flex;
            column-gap: 30px;
        }

        .elementor-column,
        .elementor-element {
            margin-bottom: 0 !important;
            padding-inline: 15px;
        }

        @media (max-width: 991px) {
            .slick-track {
                column-gap: 20px;
            }

            .elementor-column,
            .elementor-element {
                padding-inline: 10px;
            }
        }

        @media (max-width: 767px) {
            .slick-track {
                column-gap: 16px;
            }

            .elementor-column,
            .elementor-element {
                padding-inline: 8px;
            }
        }
    }
}



.shop-by-occasion-slider {
    .slick-track {
        display: flex;
        column-gap: 20px;
    }

    @media (max-width: 767px) {
        .slick-track {
            column-gap: 8px;
        }
    }
}

.shop-occasion-card {
    cursor: pointer;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(to top,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0.65) 20%,
                rgba(0, 0, 0, 0.25) 45%,
                rgba(0, 0, 0, 0) 60%);
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .shop-occasion-cta {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


// products style
// .home {


// }

// products style


.shop-by-febric-list {
    .products {
        .product-category {
            img {
                border-radius: 200px;
            }

            .woocommerce-loop-category__title {
                text-align: center !important;
            }
        }

        img {
            margin: 0 !important;
            border: 2px solid var(--color-golden);
            width: 100%;
            object-fit: cover;
            object-position: top center;
            aspect-ratio: 0.7/1;
        }


        @media (min-width: 1441px) {
            display: grid;
            grid-gap: 50px 20px;
            grid-template-columns: repeat(8, 1fr);

            .product-category {
                float: none !important;
                width: 100% !important;
                margin: 0 !important;
            }
        }
    }

    @media (max-width: 1440px) {
        .products {
            margin-inline: -15px;

            .product-category {
                margin-bottom: 0 !important;
                padding-inline: 15px;
            }
        }
    }

    @media (max-width: 767px) {
        .products {
            margin-inline: -8px;

            .product-category {
                padding-inline: 8px;
            }
        }
    }
}


#primary .best-seller-products {
    .slick-track {
        display: flex;
        column-gap: 20px;
    }

    @media (max-width: 767px) {
        .slick-track {
            column-gap: 8px;
        }
    }

    .products {

        &:before,
        &:after {
            display: none !important;
        }

        .type-product {
            border: 1px solid rgb(93, 14, 19, 0.1);
            border-radius: 30px;
            overflow: hidden;
            height: auto;

            img {
                width: 100%;
                object-fit: cover;
                object-position: top center;
                aspect-ratio: 0.8/1;
            }

            .yith-add-to-wishlist-button-block {
                position: absolute;
                bottom: 12em;
                right: 10px;
            }

            .yith-wcwl-add-to-wishlist-button {
                position: static !important;
                border-radius: 0;
                text-align: center;
                padding: 10px 8px;
                border: 1px solid #000 !important;
            }

            .woocommerce-loop-product__link {
                position: relative;
            }

            span.onsale {
                position: absolute;
                left: 12px;
                top: 12px;
                margin: 0;
                padding: 12px 24px;
                border-radius: 29px;
                background: rgba(236, 180, 28, 0.5);
                color: #fff;
                line-height: 16px;

                @media (max-width: 767px) {
                    font-size: 12px;
                }

                &:before {
                    display: none;
                }
            }
        }

        // Desktop Grid View
        @media (min-width: 1201px) {
            display: grid;
            grid-gap: 50px 20px;
            grid-template-columns: repeat(4, 1fr);

            .type-product {
                float: none !important;
                width: 100% !important;
                margin: 0 !important;
            }
        }

        // Mobile Slick Slider View
        @media (max-width: 1200px) {
            margin-inline: -10px;

            .type-product {
                // padding-inline: 10px;
                margin-bottom: 0 !important;
            }
        }

        @media (max-width: 767px) {
            .product {
                h2 {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    /* kitni lines dikhani hain */
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-height: 74px;
                    padding: 0 8px !important;
                    margin-block: 10px !important;
                }

                .button {
                    font-size: 14px !important;
                    line-height: 1.2em !important;
                }
            }
        }
    }
}


.slick-slider {
    position: relative;

    .slick-arrow {
        outline: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.5);
        border: none;
        border-radius: 50%;
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0;
        transition: all 0.25s ease-in-out;
        color: #4a0404;

        &:hover {
            background: var(--color-white);
            color: var(--color-hover, #cfa353);
        }

        &::before {
            display: none !important;
        }

        svg {
            width: 20px;
            height: 20px;
            display: block;
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        left: auto;
        right: 0;
    }

    .slick-dots {
        margin: 40px 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;

        li {
            height: 12px;
            width: 12px;
            border-radius: 100%;
            background-color: rgba(182, 125, 52, 0.3);
            cursor: pointer;

            button {
                display: none;
            }

            &.slick-active {
                background-color: var(--color-golden);
            }
        }
    }

    @media (max-width: 1440px) {
        .slick-prev {
            left: 16px;
        }

        .slick-next {
            right: 16px;
        }
    }
}