@import 'header';
@import 'footer';
body{
    font-family: 'Karla', sans-serif !important;
}
.site-content {
    padding: 0 20px;
}
a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline-color: transparent !important;
}
.site{
    overflow-y: hidden;
}
.home .site-content {
    padding: 0px;
}
.pxlt-image-position{
    .elementor-cta__bg, .elementor-cta__bg-overlay{
        background-position: top center !important; 
    }
}
.pxlt-item .wp-caption .wp-caption-text{
    border-bottom: 0px !important;
    padding: 1em 0 0 !important;
}
.pxlt-location-btn .elementor-button-content-wrapper {
    display: flex;
    align-items: center;
} 
#primary{
    header{
        h1{
            font-family: Playfair Display;
            text-transform: uppercase;
        }
    }
    .term-description p{
        font-size: 0.875rem;
        color: #000;    
    }
    .products{
        .type-product{
            position:  relative !important;
            transition: opacity 1s ease, transform 1.5s ease;
            margin-bottom: 20px;
            h2.woocommerce-loop-product__title {
                font-weight: 600 !important;
                font-size: 16px !important;
                font-family: 'Karla';
                text-transform: capitalize;
                padding: 0 15px;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 40px;
            }
            .price bdi {
                font-size: 16px;
                font-weight: 700;
                color: #000;
            }
            .add_to_cart_button, .button {
                border: 1px solid #000;
                background: transparent;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
                transition: 0.3s;
                position: relative;
                text-indent: -9999px;
                &:hover{
                    // background-color: rgb(192, 192, 192);
                    border-color: rgb(192, 192, 192) ;
                    color: #fff;
                }
            }
            &:hover a.button{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            &:hover .yith-wcwl-add-to-wishlist-button{
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
            a.button, .yith-wcwl-add-to-wishlist-button {
                position: absolute !important;
                bottom: 120px;
                right: 8px;
                height: 40px;
                width: 40px;
                opacity: 0;
                transform: translate3d(30px, 0, 0);
                transition: all 0.3s ease-in-out;
                background: #fff;
            }
            .yith-wcwl-add-to-wishlist-button{
                bottom: 174px;
                border-radius: 0;
                text-align: center;
                padding: 10px 8px;
                border: 1px solid #000 !important;
            }
            .yith-add-to-wishlist-button-block{
                display: block;
                width: auto;
                margin: 0;
                span.yith-wcwl-add-to-wishlist-button__label {
                    display: none;
                }
            }
            a.button:before
            {
                content: "";
                display: inline-block;
                height: 25px;
                width: 25px;
                line-height: 0;
                position: absolute;
                top: 6px;
                right: 6px;
                background-image: url(../image/cart.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            a.added_to_cart.wc-forward {
                display: none;
            }
            .button.loading:after {
                color: #333333 !important; 
                z-index: 9;
                // background: red;
                background-image: url(../image/loading.svg);
            }
        }
    }
    .site-main{
        position: relative;
        .storefront-sorting{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        form.woocommerce-ordering {
            position: absolute;
            top: 0;
            right: 0;
            select.orderby {
                background: #fff;
                border-color: transparent;
                padding: 10px 5px;
                border-radius: 6px;
                &:focus{
                    box-shadow: 0 0 5px #ddd;
                    transition: all 0.3s;       
                }
                // &:hover{
                //     box-shadow: 0 0 5px 0 #0000001f;
                // }
                &:focus-visible {
                    outline: none;
                }
            }
        }
        .woocommerce-pagination .page-numbers li .page-numbers{
            border-radius: 4px;
            transition: 0.3s;
            &.current {
                background-color: #040404;
                color: #ffffff;
            }
            &:hover{
                background-color: rgb(0 0 0 / 54%);
                color: #fff;
            }
        }
    }
}
#secondary{
    .bapf_head h3{
        font-family: Playfair Display;
        font-size: 1.74rem;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 1.25rem;
    }
    .bapf_body{
        ul li {
            label {
                font-size: 0.875rem;
                color: #000;
                font-weight: 500;
            }
        }
        .bapf_show_hide {
            color: #000;
            margin-top: 15px;
            display: block;
        }
        .bapf_to, .bapf_from{
            font-family: 'Karla', sans-serif;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .widget {
        margin: 0 0 30px;
        .berocket_single_filter_widget{
            .bapf_body label{
                font-weight: 600;
                color: #000;
            }
        }
    }
}
#wccs_sticky_container {
    height: auto !important;
    .slick-list.draggable {
        height: auto !important;
    }
    #wccs_sticky_down, #wccs_sticky_up{
        display: none !important;
    }
}
.pxlt-contact{
    .wpcf7 .wpcf7-form{
        p{
                margin-bottom: 15px;
        }
        label{
            text-transform: capitalize;
        font-size: 18px;
        font-weight: 700;
        color: #000;
        }
        input[type=text], input[type=number], input[type=email], input[type=tel], input[type=url], input[type=password], input[type=search], .input-text{
            width: 100%;
            height: 45px;
            background: #fff;
        }
        textarea{
            height: 150px;
            background: #fff;
        }
        .wpcf7-submit {
            background: transparent !important;
            border: 1px solid #000 !important;
            text-transform: uppercase;
            padding: 10px 30px !important;
            margin-top: 15px;
            color: #000 !important;
        }      
    }
    .elementor-icon-box-wrapper .elementor-icon-box-icon{
        position: relative;
        top: 6px;
    }
    .wpcf7 form.invalid .wpcf7-response-output{
        border-color: #ffb900;
        background: #ffb90063;
        color: #000;
    }  
}
.woocommerce-account{
    .type-page.status-publish.hentry {
        background: #F4F4F4;
        padding: 30px 30px;
        form.login{
            label{
                font-weight: 500;
                color: #000;
                margin-bottom: 6px;
            }
            input{
                background: #fff;
                border: 1px solid #d9d9d9;
                box-shadow: none;
            }
            .woocommerce-form-login__submit{
                background: transparent !important;
                border: 1px solid #000 !important;
                text-transform: uppercase;
                padding: 10px 30px !important;
                margin-top: 15px;
                color: #000 !important;
            }
            .lost_password a{
                color: #626262;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }
}
.berocket_aapf_widget_selected_filter {
    display: flex;
    .bapf_sfa_taxonomy {
        display: flex;
        gap: 10px;
        span{
            font-weight: 400;
            color: #000;
        }
    }
    ul {
        margin-left: 1.25rem;
        li {
            a {
                color: #000000;
                i {
                    font-size: 14px;
                    margin-right: 3px;
                }
            }
        }
    }
}
.woocommerce-cart-form {
    table{
        &:not( .has-background ) th {
            background-color: #000000;
            color: #fff;
        }
        tbody td{
            &.product-name a{
                color: #000;
                font-weight: 600;
                text-decoration: none;
            }
            bdi {
                font-weight: 600;
                color: #000;
            }
            &.product-quantity{
                input {
                    border: 1px solid #000000 !important;
                }
            }
        }
        input{
            box-shadow:none;
        }
        &:not( .has-background ) tbody tr:nth-child(2n) td, fieldset, fieldset legend {
            background-color: #fff;
        }
        .actions{
                .button {
                    background: #000000;
                    color: #fff;
                }
        }
        
    }
}
.cart-collaterals{
    .cart_totals {
        h2 {
            font-family: playfair;
        }
        table{
            th{
                color: #000;
            }
        }
        .woocommerce-shipping-calculator{
            a.shipping-calculator-button {
                color: #000;
                text-transform: capitalize;
                text-decoration: none !important;
                font-weight: 600;
            }
        }
    }
}
.related {
    h2 {
        font-weight: 500;
        font-family: playfair;
        text-transform: uppercase;
        font-size: 30px !important;
    }
}
.single-product .product{
    span.onsale {
        background: #000;
        color: #fff;
    }
    .summary.entry-summary{
        .product_title{
            font-size: 1.625rem;
            font-weight: 500;
            text-align: left;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
        p.price {
            font-size: 26px;
            color: #000;
            line-height: 1.4;
            font-weight: 600;
        }
        .woocommerce-product-details__short-description p{
            font-size: 16px;
            font-weight: 500;
        }
        .button-wrapper #chart-button {
            background: #fbfbfb;
            padding: 10px 18px;
            border-radius: 5px;
            color: #000;
            font-weight: 600;
        }
        .cart{
            margin-bottom: 0 !important;
            padding: 0 !important;
            table tbody tr{
                .label{
                    font-weight: 600;
                    color: #000;
                }
                .value{
                    select {
                        padding: 10px 25px 10px 8px;
                        border-radius: 5px;
                        border-color: #b5b5b5;
                    }
                }
            }
            .quantity{
                display: block;
                position: relative;
                text-align: center;
                margin: 0 0 0.3125rem 0 !important;
                border: solid 1px #e6e4e4;
                float: none;
                input {
                    border: none !important;
                    background: transparent !important;
                    width: 100%;
                    font-size: 1rem;
                    padding: 10px 15px;
                    font-size: 18px;
                    font-weight: 600;
                }
                .button.alt {
                    padding: 11px 20px !important;
                    border-radius: 5px !important;
                }
                .pxlt-quabtity{
                    display: flex;
                    button{
                        margin-bottom: 0px !important;
                        width: 55px;
                        background: transparent;
                        font-size: 20px;
                        &:hover{
                            background-color: #000;
                            color: #fff;
                        }
                    }
                }
            }
            button, a.added_to_cart.wc-forward{
                width: 100%;
                margin: 0 0 0.3125rem 0 !important;
                padding: 14px 0;
                text-align: center;
            }
            table.variations.cfvsw-variation-disable-logic{
                tbody tr{
                    margin-bottom: 20px !important;
                    display: block;
                }
            }
        }
        .variations_form .variations {
            position: relative;
            margin-bottom: 0;
            tr{
                // display: flex;
                // justify-content: center;
                .value{
                    // position: relative;
                    // margin: 0 auto;
                    // text-align: center;
                    margin-bottom: 0;
                    .cfvsw-label-option{
                        color: #000;
                        padding: 6px 10px;
                        &.cfvsw-selected-swatch{
                            background: #000;
                            color: #fff !important;
                        }
                    }
                }
            }
        }
        .yith-add-to-wishlist-button-block{
            display: inline;
            button{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 14px 15px;
                margin: 0 0 1.5rem 0 !important;
                border-radius: 0 !important;
            }
        }
        .product_meta {
            color: #000;
            font-weight: 600;
            font-size: 12px !important;
            a {
                color: #000;
                font-weight: 400 !important;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    color: #5a5a5a;
                }
            }
        }
    }
    .woocommerce-tabs {
        background: #f9f9f9ba;
        padding: 40px 40px 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        ul.tabs {
            li{
                padding: 0px 15px 0 15px;
                &.active{
                    background-color: #000000;
                    border-radius: 5px;
                    a{
                        color: #fff;
                    }
                    &::after{
                        color: #fff;
                        right: 1rem;
                    }
                }
                a {
                    color: #000;
                    font-weight: 600;
                    font-size: 18px;
                }
                &:after{
                    opacity: 1;
                    right: 1rem;
                }
            }
        }
        .woocommerce-Tabs-panel {
            h2{
                font-family: playfair;
            }
            p strong, table tbody{
                color: #000;
            }
            .woocommerce-Reviews{
                .comment-respond {
                    color: #000;
                }
                form{
                    .submit{
                        background-color: #000 !important;
                        color: #fff;
                    }
                }
            }
        }
    }
}
form{
    textarea {
        height: 125px;
    }
    textarea, input{
        box-shadow: none !important;
        background: #fff !important;
        border: 1px solid #b1b1b199 !important;
        border-radius: 4px;
    }
}
.checkout.woocommerce-checkout{
    // background-color: rgba(249, 249, 249, 0.7294117647);
    // padding: 40px 40px 20px;
    color: #000;
    h3{
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #242424;
    }
    .select2-container--default {
        .select2-selection--single{
            padding: 8px 0;
            border: 1px solid #b1b1b199 !important;
            height: 45px;
            border-radius: 0;
        }
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        top: 9px;
        right: 5px;
    }
    .form-row {
        label {
            font-size: 0.875rem !important;
            color: #242424 !important;
            font-weight: 500;
        }
        input, textarea, select{
            border-radius: 0;
        }
    }
}
.select2-container--default {
    .select2-search--dropdown .select2-search__field {
        background: transparent !important;
        border-color: #ede7e7 !important;
        box-shadow: none !important;
    }
    .select2-results__option--highlighted[aria-selected] {
        background-color: #000000 !important;
        color: white;
    }
    .select2-results__option[aria-selected]{
        font-size: 0.875rem;
    }
}
#order_review table{
    border-collapse: collapse;
    tr {
        border: solid 1px #E5E5E5 !important;
    }    
     tr th{
        background-color: #E5E5E5;
    } 
    tfoot tr {
        background-color: #f6f6f6;
        &:last-child{
            background-color: #E5E5E5;
        }
        th{
            background-color: transparent;
        }
    }
}
.ppom-wrapper{
    .form-row {
        .form-group{
                // display: flex;
                // align-items: center;
            label {
                &.form-control-label{
                    margin-bottom: 0;
                }
            }
            .form-check-inline {
                margin-right: 0 !important;
                margin-left: 10px;
                input[type=checkbox]{
                    margin-right: 5px;
                    height: 15px;
                    width: 15px;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
                .ppom-label-checkbox{
                        margin-left: 23px;
                }
            }
        }
        .form-group {
            label {
                // display: inline-flex;
                align-items: center;
                color: #242424;
                font-weight: 500;
                text-transform: capitalize;
                float: left;
                position: relative;
            }
            select, input {
                border: 1px solid #f3f3f3 !important;
                padding: 14px 8px;
                border-radius: 0;
                font-size: 14px;
                background-color: #fff;
                &:focus-visible{
                    outline: none !important;
                }
            }
        }
    }
}
#ppom-price-container{
   table:not( .has-background ) th {
    background-color: #fff !important;
}
}
.bapf_sfilter.bapf_button_berocket .bapf_button {
    background-color: #000 !important;
    font-family: 'Karla';
}
@media only screen
and (min-width : 768px) {
    #primary .type-product{
        .woocommerce-LoopProduct-link{
            position: relative;
            span.onsale {
                position: absolute;
                top: 15px;
                left: -11px;
                text-transform: capitalize;
                color: #ffffff;
                background: #ecb41c;
                letter-spacing: 0;
                font-size: 14px;
                line-height: 15px;
                font-weight: 600;
                padding: 10px 15px;
                border-radius: 0;
                display: block;
                text-decoration: none;
                border: 0;
                &::before {
                    content: "";
                    position: absolute;
                    top: 35px;
                    left: 0px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 12px 12px 0;
                    border-color: transparent #ecb41c transparent transparent;
                }
            }
        }
    }
    .related {
        .products {
            li.product{
                margin-right: 3.347826087% !important;
            }
            li.product.first {
                margin-left: 12px;
            }
        }
    }
    .storefront-full-width-content.single-product div.product .images{
        width: 48.130435% !important; 
    }
    .storefront-full-width-content.single-product div.product .summary{
        width: 47.521739% !important;
    }
    .woocommerce-shipping-fields{
        #ship-to-different-address{
            .woocommerce-form__input-checkbox{
                left: 0 !important;
                right: inherit;
            }
            span{
                margin-left: 20px;
            }
        }
    }
    .page-template-template-fullwidth-php .col2-set {
        .form-row-first{
            width: 48.454545% !important;
            margin-right: 0 !important;
        }
        .form-row-last {
            width: 48.454545% !important;
        }
    }
}
.woocommerce-shipping-fields #ship-to-different-address {
    margin-bottom: 20px;
    span{
        font-weight: 600;
       
    }
}
@media only screen
and (max-width : 991px) {
    .archive{
        .site-main ul.products.columns-4 li.product {
            width: 48.05% !important;
            margin-right: 3.8%;
            float: left;
            &:nth-child(even){
                margin-right: 0 !important;
            }
        }
    }
    #primary .products .type-product {
        h2.woocommerce-loop-product__title{
            font-size: 14px !important;
            height: 36px;
        }
        .price bdi{
            font-size: 12px;
        }
        .add_to_cart_button, button{
            font-size: 12px;
        }
    }
    #primary header h1 {
        font-size: 34px;
    }
}   
@media only screen
and (max-width : 767px) {
    #primary .type-product{
        .woocommerce-LoopProduct-link{
            position: relative;
            span.onsale {
                position: absolute;
                top: 0;
                right: 3px;
                background: #000;
                color: #fff;
            }
        }
    }
    #primary header h1 {
        font-size: 30px;
        padding-right: 180px;
    }
    .single-product .product{
        .summary.entry-summary{
            .cart{
                button[type="submit"]{
                    position: relative;
                    text-indent: -9999px;
                    float: left !important;
                    flex-wrap: wrap;
                    margin: 0 4px 6px !important;
                    width: 32.66%;
                    height: 50px;
                    &:before{
                        content: "";
                        height: 45px;
                        width: 45px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        margin: 5px auto;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: cover;        
                    }
                }
                button[name="add-to-cart"]{
                    margin-left: 0 !important;
                    &:before{
                        background-image: url(../image/shopping-basket.svg);
                    }
                }
                button.single_add_to_cart_button{
                    margin-left: 0 !important;
                    &:before{
                        background-image: url(../image/shopping-basket.svg);
                    }
                }
                button[name="wc-quick-buy-now"]:before{
                    background-image: url(../image/speed-cart.svg);
                    height: 30px;
                    width: 36px;
                    margin: 12px auto;
                }
            }
            .yith-add-to-wishlist-button-block, a.added_to_cart.wc-forward{
                display: none;
            }
            .custom-wishlist .yith-add-to-wishlist-button-block {
                display: inline-block !important;
                width: 32.66%;
                margin: 0 0 6px 0 !important;
                button{
                    margin: 0 !important;
                    padding: 8px 15px !important;
                    background: #333333;
                    border-color: #333333;
                    height: 50px;
                    &:hover{
                        background: #1a1a1a;
                        border-color: #1a1a1a;
                    }
                    svg.yith-wcwl-add-to-wishlist-button-icon {
                        color: #ffffff !important;
                    }
                }
                .yith-wcwl-add-to-wishlist-button__label{
                    display: none;
                }
                .yith-wcwl-add-to-wishlist-button:is(button) svg, .yith-wcwl-add-to-wishlist-button:is(button) img {
                    width: 36px !important;
                    height: 36px !important;
                }
            }
        }
    }
    .related .products li.product {
        width: 48.05% !important;
        float: left;
        margin-right: 3.8%;
        &:nth-child(even){
            margin-right: 0;
        }
        // &:nth-child(odd){
        //     margin-left: 12px;
        // }
    }
    #pxlt_tab_content {
        display: none; 
      }
      span.nickx-popup{
        left: 0;
        right: 0 !important;
        top: 0;
        bottom: 0 !important;
        &:before{
            position: absolute;
            bottom: 12px !important;
            right: 10px !important;
        }
      }
}
@media only screen
and (max-width : 480px) {
    // .archive{
    //     .site-main ul.products.columns-4 li.product {
    //         width: 100% !important;
    //         margin-right: 0;
    //         float: none;
    //     }
    // }

    .single-product .product{
        .summary.entry-summary{
            .cart{
                button[type="submit"]{
                    width: 31.66%;}
            }
            // .custom-wishlist .yith-add-to-wishlist-button-block {
            //     width: 31.66%;
            // }
        }
    }

    #primary {
        .products .type-product {
            h2.woocommerce-loop-product__title {
                font-size: 12px !important;
                line-height: 20px;
            }
        }
        .type-product .woocommerce-LoopProduct-link span.onsale{
            font-size: 10px;
            right: 0;
        }
        header h1 {
            font-size: 22px;
        }
        .site-main form.woocommerce-ordering select.orderby{
            padding: 3px 5px;
        }
    }
    .pagination .page-numbers li .page-numbers,
    .woocommerce-pagination .page-numbers li .page-numbers{
        font-size: 10px !important;
    }
    .ppom-wrapper .form-row .form-group label, .berocket_aapf_widget_selected_area, .term-description p{
        font-size: 14px !important;
    }
    .ppom-wrapper .form-row .form-group .form-check-inline input[type=checkbox] {
        height: 14px;
        width: 14px;
        top: 4px;
    }
    #ppom-price-container table:not(.has-background) th {
        background-color: #fff !important;
        font-size: 14px;
        padding: 10px 0;
    }
    .single-product .product {
        .summary.entry-summary {
            .woocommerce-product-details__short-description p {
                font-size: 14px;
            }
            .product_title{
                font-size: 1.3rem;
            }
        }
        .woocommerce-tabs {
            padding: 20px 20px 0px;
        }
    }
    .related h2{
        font-size: 22px !important;
    }
    .woocommerce-tabs .panel h2:first-of-type {
        font-size: 1.4em !important;
    }
}